/* CSS Document */

@CHARSET "UTF-8";

*{
	font-family:"Trebuchet MS", Segoe, "Segoe UI", "DejaVu Sans", Verdana, sans-serif;
	outline:none;
	border:none;
	text-decoration:none;
	margin:0;
	padding:0;
}

header{
	width: 100%;
	height: 350px;
	position: relative;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(218,250,203,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(218,250,203,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(218,250,203,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(218,250,203,1.00) 100%);
	z-index:1;
}

	header > div#cont-header{
		width:960px;
		margin:0 auto;
	}

	header > div > h1{
		background-image:url(images/logo-topo.jpg);
		background-repeat:no-repeat;
		margin:15px 0 0 30px;
		width:411px;
		height:63px;
		text-indent:-9000px;
		float:left;
	}
	
	header > div > nav{
		float:right;
		margin:20px 20px 0 0;
	}
	
	header > div > nav > ul{
		display:table;
		list-style:none;
	}
	
		header > div > nav > ul > li{
			  width: 120px;
			  height: 40px;
			  float:left;
		}
		
		header > div > nav > ul > li:first-child{
			background-color: rgb(154, 180, 124);
		}
		
 		header > div > nav > ul > li:nth-child(2){
			background-color: rgb(114, 148, 74);
		}
		
  		header > div > nav > ul > li:nth-child(3){
			background-color: rgb(89, 127, 46);
		}
		
  		header > div > nav > ul > li:last-child{
			background-color: rgb(72, 110, 27);
		}

		header > div > nav > ul > li:hover, 
		header > div > nav > ul > li.ativo{
 			border-bottom:10px solid rgb(163, 189, 49);
		}
		
		header > div > nav > ul > li > a{
		  font-size: 12px;
		  font-family: "Arial Black";
		  color: rgb(255, 255, 255);
		  text-transform: uppercase;
		  line-height: 40px;
		  text-align: center;
		  display:block;
		  width:100%;
		}
		
	header > div > article#banner {
		z-index:2;
		display:table;
		clear:both;
		width:960px;
		padding-top:15px;
	}
	
		header > div > article#banner > a, 
		header > div > article#banner > div#box-banner{
			float:left;
		}
		
		header > div > article#banner > a{
			margin-top: 150px;
		}
		
		header > div > article#banner > a:first-child{
			margin-left: 30px;
		}
		
		header > div > article#banner > div#box-banner{
			width:800px;
			height:350px;
			background:rgba(29,90,2,1.00);
			overflow:hidden;
			list-style:none;
			margin:0 20px;
			position: relative;
			z-index:5;
		}
	
			header > div > article#banner > div#box-banner > ul#box-banner-lista{
				display:table;
				position:absolute;
				z-index:4;
			}
			
			header > div > article#banner > div#box-banner > ul#box-banner-lista > li{
				width:800px;
				height:350px;
				display:inline-table;
			}
	
	@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
			
	main{
		display:table;
		min-height:200px;
		width:960px;
		margin:0 auto;
		margin-top:93px;
		padding-top:40px;
		background-image:url(images/sombra-banner_03.jpg);
		background-position:top;
		background-repeat:no-repeat;
	}
	
		main > h2{
			font-size:38px;
			color:#79AC88;
			font-style:italic;
			font-family: 'Slabo 27px', serif;
			margin:30px 0 15px 0;
		}
		
		main > p{
			font-size:16px;
			color:#666;
			line-height:2;
			margin-left:30px;
			text-align:justify;
		}
		
		main > nav#nav-inferior{
			display:table;
			margin:0 auto;
			margin-top:20px;
		}
		
			main > nav#nav-inferior > a{
				text-decoration:none;
				font-size:18px;
				color:#999;
				font-family: 'Slabo 27px', serif;
				font-style:italic;
				font-weight:bold;
				display:inline-table;
				padding:10px;
			}
			
				main > nav#nav-inferior > a:hover{
					background:#E5FFE2;
					color:#025800;
					border-bottom:2px solid;
					padding-bottom:8px;
				}
			
	article#servicos{
		min-width:800px;
		margin:0 auto;
		display:table;
	}
	
		section.servico{
			float:left;
			margin:0 22px;
			width:156px;
			background-image:url(images/sombra-servicos_03.jpg);
			background-repeat:no-repeat;
			background-position:center 136px;
		}
		
		
		
		section.servico > a > img{
  			border-radius: 50%;
			border:2px solid #fff;
		}
		
			section.servico > a > img:hover{
				-webkit-animation-duration: 3s;
				-webkit-animation-name: anima1;
				-o-animation-duration: 3s;
				-o-animation-name: anima1;
				-moz-animation-duration: 3s;
				-moz-animation-name: anima1;
				animation-duration: 3s;
				animation-name: anima1;
				border:2px solid #0E9800;
				box-shadow: 0 0 50px #8BFA83;
			}
		
		@-webkit-keyframes anima1{
			from{ opacity: 1; }
			to{ opacity: .5; }
		}
		
		@-o-keyframes anima1{
			from{ opacity: 1; }
			to{ opacity: .5; }
		}
		
		@-moz-keyframes anima1{
			from{ opacity: 1; }
			to{ opacity: .5; }
		}
		
		@keyframes anima1{
			from{ opacity: 1; }
			to{ opacity: .5; }
		}
		
		section.servico > h3{
		  margin-top:15px;
		  font-size: 16px;
		  font-family: "Trebuchet MS";
		  line-height: 0.938;
		  text-align: center;
		  color:#959494;
		}
		
		article#chamadaPrincipal {
		  background-color: rgb(221, 228, 201);
		  width: 920px;
		  height: 290px;
		  padding:20px;
		  margin-top:30px;
		  margin-bottom:-20px;
		}


			article#chamadaPrincipal > h1{
				font-size: 48px;
				font-family: "Trebuchet MS";
				color: rgb(69, 88, 15);
				text-align: center;	
				margin-top:35px;
			}
			
			article#chamadaPrincipal > h2{
				font-size: 30px;
				font-family: "Trebuchet MS";
				color: rgb(100, 106, 96);
				text-align: center;
				margin-top:15px;
				line-height:25px;
			}
			
			article#chamadaPrincipal > p {
				font-size: 22px;
				font-family: "Trebuchet MS";
				color: rgb(129, 129, 129);
				text-align: center;
				margin-top:20px;
			}

	footer{
		background-color: #267419;
		width: 100%;
		height: 120px;
		padding: 20px 0;
		display: table;
	}
	
	footer > div#cont-footer{
		width:960px;
		margin:0 auto;
	}
	
	footer *{
		color:#fff;
	}
	
		footer > div > section{
			float:left;
			width:33%;
		}
		
			footer > div > section#diretos > h1,
			footer > div > section#creditos > h1
			{
				background-image:url(images/ico-rodape_10.png);
				background-repeat:no-repeat;
				width:233px;
				height:43px;
				display:block;
				margin:0 auto;
				text-indent:-3000px;
			}
			
			footer > div > section#diretos > p{
				  font-size: 13px;
				  font-family: "Trebuchet MS";
				  line-height: 1.2;
				  text-align: center;
			}
			
			footer > div > section#dados  h1{
				font-size: 28px;
				  font-family: "Trebuchet MS";
			}
			
			footer > div > section#dados h2,
			footer > div > section#dados p{
				font-size: 18px;
				  font-family: "Trebuchet MS";
			}
			
				footer > div > section#dados > div#telefones,
				footer > div > section#dados > div#endereco
				{
					display:table;
				}
				
					footer > div > section#dados > div#telefones > div,
					footer > div > section#dados > div#endereco > div
					{
						float:left;
					}
					
					footer > div > section#dados > div#telefones > div:nth-child(2),
					footer > div > section#dados > div#endereco > div:nth-child(2)
					{
						margin-left:15px;
					}
					
					footer > div > section#dados > div#endereco{
						margin-top:20px;
					}
					
			footer > div > section#creditos > h1{
				background-image:url(images/ico-rodape_14.png);
				width:138px;
				height:50px;
				opacity:.3;
			}
			
				footer > div > section#creditos > h1:hover{
					opacity:1;
				}
			
			footer > div > section#creditos > p{
				font-size:12px;
				text-align:center;
			}
			
		footer > div > section:nth-child(2){
			width:38%;
			padding-left:5%;
		}
		
		footer > div > section:nth-child(3){
			width:23%;
		}