/* CSS Document */

@CHARSET "UTF-8";

*{
	font-family:"Trebuchet MS", Segoe, "Segoe UI", "DejaVu Sans", Verdana, sans-serif;
	outline:none;
	border:none;
	text-decoration:none;
	margin:0;
	padding:0;
}

header{
	width: 960px;
	height: 350px;
	position: relative;
	background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(218,250,203,1.00) 100%);
	background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(218,250,203,1.00) 100%);
	background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(218,250,203,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(218,250,203,1.00) 100%);
	z-index:1;
}

	header > h1{
		background-image:url(images/logo-topo.jpg);
		background-repeat:no-repeat;
		margin:15px 0 0 30px;
		width:411px;
		height:63px;
		text-indent:-9000px;
		float:left;
	}
	
	header > nav{
		float:right;
		margin:20px 20px 0 0;
	}
	
	header > nav > ul{
		display:table;
		list-style:none;
	}
	
		header > nav > ul > li{
			  width: 120px;
			  height: 40px;
			  float:left;
		}
		
		header > nav > ul > li:first-child{
			background-color: rgb(154, 180, 124);
		}
		
 		header > nav > ul > li:nth-child(2){
			background-color: rgb(114, 148, 74);
		}
		
  		header > nav > ul > li:nth-child(3){
			background-color: rgb(89, 127, 46);
		}
		
  		header > nav > ul > li:last-child{
			background-color: rgb(72, 110, 27);
		}

		header > nav > ul > li:hover, header > nav > ul > li.ativo{
 			border-bottom:10px solid rgb(163, 189, 49);
		}
		
		header > nav > ul > li > a{
		  font-size: 12px;
		  font-family: "Arial Black";
		  color: rgb(255, 255, 255);
		  text-transform: uppercase;
		  line-height: 40px;
		  text-align: center;
		  display:block;
		  width:100%;
		}
		
	header > article#banner {
		z-index:2;
		display:table;
		clear:both;
		width:960px;
	}
	
		header > article#banner > a, 
		header > article#banner > div#box-banner{
			float:left;
		}
		
		header > article#banner > a{
			margin-top: 150px;
		}
		
		header > article#banner > a:first-child{
			margin-left: 30px;
		}
		
		header > article#banner > div#box-banner{
			width:800px;
			height:350px;
			background:rgba(29,90,2,1.00);
			overflow:hidden;
			list-style:none;
			margin:0 20px;
			position: relative;
			z-index:5;
		}
	
			header > article#banner > div#box-banner > ul#box-banner-lista{
				display:table;
				position:absolute;
				z-index:4;
			}
			
			header > article#banner > div#box-banner > ul#box-banner-lista > li{
				width:800px;
				height:350px;
				display:inline-table;
			}